.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.panel {
    flex: 1;
    background-color: var(--background);
    display: flex;
    justify-content: center;
}

.canvas {
    width: 300px;
    height: 100vh;
    background: gray;
}