.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 60%;
}

.rowLink {
    display: flex;
    align-items: center;
    width: 100%;
}

img {
    width: 48px;
    height: auto;
}

.linkContainer {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 100%;
    gap: 5px;
}

.rowLink:hover {
    filter: brightness(80%);
}

.title {
    display: flex;
    flex-direction: column;
    width: 100%;
}